
.root {
  position: relative;
  left: -120px;
  }

.input {
  border: 1px solid rgba(0,0,0, 0.1);
  padding: 12px 20px 12px 42px;
  width: 400px;
  border-radius: 10px;
  font-size: 16px;

  &:focus {
    border: 1px solid rgba(0,0,0, 0.25);
  }
}

.icon {
  width: 22px;
  height: 22px;
  position: absolute;
  opacity: 0.3;
  left: 14px;
  top: 12px
}

.clearIcon {
  width: 22px;
  height: 22px;
  position: absolute;
  opacity: 0.3;
  top: 12px;
  right: 12px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;

  }
}
